<ion-view view-title="Schedule">
  <ion-content class="padding">
    <ion-list>
      <div class="item item-divider">Happening Now</div>
      
      <ion-list>

        <a class="item item-thumbnail-left item-text-wrap" href="#">

          <img>
          <h2>Pop-up Stalls</h2>
          <h4>Thursday 3 December 2015</h4>
          <h5>Ends 8.30PM</h5>
          <p>Local artisal stores showcasing handmade wares, craft beers and snacks. Bring cash!</p>

        </a>


      
      </ion-list>
      <ion-list>
        <div class="item item-divider">Next Up</div>

        <ion-item class="item-thumbnail-left item-text-wrap" href="#">

          <img>
          <h2>Hawker Feast</h2>
          <h4>Thursday 3 December 2015</h4>
          <h5>Starts 6.30PM</h5>
          <p>A full buffet menu and famous hawker food <b>for free!</b> Buy your own booze at special prices ...</p>

        
          <ion-option-button class="button-positive">Share</ion-option-button>
          <ion-option-button class="button-assertive">Favourite</ion-option-button>
        </ion-item>

        <ion-item class="item-thumbnail-left item-text-wrap" href="#">
          <img>
          <h2>Carnival Games</h2>
          <h4>Thursday 3 December 2015</h4>
          <h5>Starts 6.30PM</h5>
          <p>Team up for human foosball and giant Jenga, or ride the rodeo bull. All for free.</p>
        </ion-item>

        <ion-item class="item-thumbnail-left item-text-wrap" href="#">
          <img>
          <h2>Live Performances</h2>
          <h4>Thursday 3 December 2015</h4>
          <h5>Starts 6.30PM</h5>
          <p>Catch 53A, DJ RICO, and a K-Pop dance group live on stage. Look out for roving magicians and a contact juggler in the crowd!</p>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>